[Desktop Entry]
Name=Hybrid
Name[zh_CN]=Hybrid
GenericName=Hybrid IM Framework
GenericName[zh_CN]=Hybrid即时通讯框架
X-GNOME-FullName=Hybrid IM Framework
X-GNOME-FullName[zh_CN]=Hybrid即时通讯框架
Type=Application
Comment=Lightweight IM framework, currently supports China Mobile Fetion protocol and XMPP protocol.
Comment[zh_CN]=轻量级即时通讯框架, 目前支持中国移动飞信以及XMPP协议.
Exec=hybrid
Icon=hybrid
Categories=GTK;GNOME;Network;
X-GNOME-Gettext-Domain=hybrid
